<div class="page-header">
	<h1>Start your own project</h1>
</div>

<div class="row">
	<div class="span8">
		<%= render 'form' %>
	</div>
	<div class="span4">
		<h3>Markdown Cheatsheet</h3>
		<p>
			The description field supports the markdown formatting language, here are a few useful commands.
			<ul class="unstyled">
				<li># Heading 1</li>
				<li>## Heading 2</li>
				<li>* List item</li>
				<li>*Bold*</li>
				<li>_italics_</li>
				<li>-strikethrough-</li>
			</ul>
		</p>
	</div>
</div>
