#goal-note {
	text-transform: capitalize;
}

.nav-tabs li {
	font-weight: bold;
}

.project-details .thumbnail {
	margin-bottom:10px
}

.readme {
	border: 1px solid rgba(0, 0, 0, 0.05);
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.event {
	padding: 19px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.event .comment {
	margin-top: 19px;
}

.comment-text {
	margin-top: 19px;
}

.add-comment {
	margin-top: 19px;
}

.comment-form {
	margin-top: 19px;
	display: none;
}